name: Deploy Mini Heroku

on:
  push:
    branches:
      - main
      - dev/**
      - feat/**
  workflow_dispatch: # Allows manual triggering

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25.6"

      - name: Test Controller
        working-directory: controller
        run: go test -v ./...

      - name: Test CLI
        working-directory: cli
        run: go test -v ./...
